.elementor-915 .elementor-element.elementor-element-e1da988:not(.elementor-motion-effects-element-type-background), .elementor-915 .elementor-element.elementor-element-e1da988 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#4D76AA;}.elementor-915 .elementor-element.elementor-element-e1da988{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:80px 40px 80px 40px;}.elementor-915 .elementor-element.elementor-element-e1da988 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-915 .elementor-element.elementor-element-b0b3f8c > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:40px;}.elementor-915 .elementor-element.elementor-element-cab6053{text-align:center;}.elementor-915 .elementor-element.elementor-element-cab6053 .elementor-heading-title{color:#FFFFFF;font-size:74px;}.elementor-915 .elementor-element.elementor-element-f812ea6{--spacer-size:50px;}.elementor-915 .elementor-element.elementor-element-cc24f02{columns:2;}@media(max-width:1024px){.elementor-915 .elementor-element.elementor-element-e1da988{padding:64px 40px 0px 40px;}.elementor-915 .elementor-element.elementor-element-cab6053 .elementor-heading-title{font-size:64px;line-height:1.6em;}.elementor-915 .elementor-element.elementor-element-f812ea6{--spacer-size:10px;}.elementor-915 .elementor-element.elementor-element-cc24f02{columns:1;}}@media(max-width:767px){.elementor-915 .elementor-element.elementor-element-e1da988{padding:64px 16px 0px 16px;}.elementor-915 .elementor-element.elementor-element-cab6053 .elementor-heading-title{font-size:43px;line-height:2.4em;}.elementor-915 .elementor-element.elementor-element-f812ea6{--spacer-size:0px;}}
/*
     FILE ARCHIVED ON 04:48:35 Jun 02, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:01:50 Nov 03, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.642
  exclusion.robots: 0.033
  exclusion.robots.policy: 0.019
  esindex: 0.011
  cdx.remote: 7.948
  LoadShardBlock: 163.66 (3)
  PetaboxLoader3.datanode: 219.571 (4)
  PetaboxLoader3.resolve: 130.087 (2)
  load_resource: 221.507
*/